
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fasthand', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}


.bannar-container{ 
    width: 500px;
    height: 500px;
    padding-top: 300px;
    padding-left: 1000px;
}

.bannar-title{
    text-align: right;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
   
}
.bannar-description{
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 32px;

}

.btn{
    background: #F15B22;
    color: white;
    padding: 15px 30px ;
    border: none;
    border-radius: 5px;
    margin-left: 370px;
    margin-top: 0;
    
    
}


.person-image{ 
    
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-image: url(images/gradient2.png);
    background-repeat: no-repeat;
    background-size: auto;

    
    
}

.failure{
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.failure-details{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}



    


.person{
    margin-top: -100px;
    width: 300px;
    height: 400px;
    
}

.failure-title{
    color:#151414;
    font-size: 40px;
    font-weight: 700;
   
}
.failure-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.list li{
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    

}


.my-plans{
    width: 70%;
    height: 500px;
    margin: auto;
}
.my-plans h2{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}
.plans{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon{
    text-align: center;
    padding: 10px;
}
.plan-title{
    text-align: center;
    padding: 5px;
}
.plan-description{
    text-align: center;
    padding: 5px;

}

.watch{
    width: 70%;
    height: 500px;
    margin: auto;
    background-image: url("images/watch.png"), url("images/gradient2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;

}
.watch-title{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding-top: 60px;
    padding-left: 65px;
    margin-bottom: 0px;
}

.btn-watch{
    padding: 20px 35px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 24px;
    border: 5px;
    border-style: none;

}

.footer{
    width: 100%;
    height: 500px;
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.future{
    width: 400px;
    height: 450px;
    text-align: left;
    margin-top: 100px;
}
.subscribe{
    width: 400px;
    height: 300px;
}

.future-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: left;
}
.future-p{
    font-size: 16px;
    font-weight: 350;
    text-align: left;
    padding-bottom: 24px;
    
}

.social-icon img{
    margin-top: 10px;
   
    padding: 5px;
}

.subscribe h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

.subscribe input{
    border: 1px solid #fff;
    background-color: black;
    color: #F3F3F3;
    padding: 20px 35px;
    margin-top: 30px;
    border-radius: 8px;

}

.btn-footer{
    padding: 10px 35px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 5px;
    border-style: none;
    border-radius: 8px;
}